{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    "styled-jsx/babel",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@convey" : "./convey",
          "@environment" : "./environment",
          "@layout": "./layout",
          "@lib": "./lib"
        }
      }
    ]
  ]
}
