{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    "styled-jsx/babel",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@lib": "./lib",
          "@layout": "./layout"
        }
      }
    ]
  ]
}
