@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");

/* Define Fonts for Elements */
.lto-label {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 100;
}

text {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 100;
}
