.navbar {
    width: 100% !important;
    padding-left: 2% !important;
}

.conveyjs-starter-logo {
    margin-right: 1em;
}

.lto-content-container {
    display: flex;
    justify-content: center;
}
