.lto-login-container {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: calc(100% - 120px);
    background: white;
    left: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group-text {
    width: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lto-login-input {
    width: 500px !important;
}

@media (max-width: 515px) {
    .lto-login-input {
        width: 300px !important;
    }

    .input-group-text {
        display: none !important;
    }
}
