.disconnected-logo {
    opacity: 0.5;
}

.disconnected-container {
    margin-top: 10%;
    margin-left: 50%;
}

.disconnected-container > small {
    font-style: italic;
    opacity: 0.55;
}

.lto-custom-loading-indicator {
    position : relative;
    top      : 20px;

    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    border-radius: 50%;
}
